<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Slicker's Noodles</title>
  <link rel="icon" type="image/x-icon" href="flame.png">


  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
    integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous">
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
    integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous">
  </script>
  <link href="https://fonts.googleapis.com/css?family=Anton|Love+Ya+Like+A+Sister|Pacifico" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

  <header>
    <div id="modal-window">
      <div id="modal-content">
        <div class="close">&times;</div>
        <div class="row">
          <div class="col-md-12">
            <h1>Contact Us</h1>
            <hr>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6  location">
            <ul>
              <li>
                <h4>Location</h4>
              </li>
              <p>Upper Level,<br>Holmes Building,<br>404 Error Street, <br>City of Circuit.</p>
            </ul>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6  hours">
            <ul>
              <h4>Opening Hours</h4>
              <p>Monday - Friday: <br> 8am-11pm </p>
              <p>Saturday and Sunday:<br> 8am-5pm.</p>
            </ul>
          </div>
          <div class="col-sm-12  contact">
            <h4>Connect With Us</h4>
            <a href=""><img src="facebook-2429746_640.png"></a>
            <a href=""><img class="insta" src="instagram-2935404_1280.png"></a>
            <a href=""><img src="twitter-2430933_1280.png"></a>
          </div>
          <div class="col-sm-12 text-center number">
            <h5><span>Call-us</span> : 311-232-1321</h5>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content"
          aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Slicker's Noodles <i class="fas fa-fire nav-logo"></i></a>
      </div>
      <div class="collapse navbar-collapse" id="nav-content">
        <ul class="nav navbar-nav">
          <li><a href="#" id="modal-btn"> Contact </a></li>
          <li><a href="#section4">Menu</a></li>
          <li><a href="#section6">Our Story</a></li>
          <li><a href="#section7">Locations</a></li>
          <li><a href="#">Order Now</a></li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <h1>FEEL THE <strong>NOODLY</strong> LOVE!</h1>
      <p>FROM EASTASIA TO YOUR TONGUE.</p>
    </div>
  </header>

  <section id="section1">
    <div id="section1-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h2>minim veniam</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>

            <i class="fas fa-fire section1-logo"></i>
          </div>
          <div class="col-md-6 col-sm-12 text-center">
            <h3>minim veniam</h3>
            <h3>dolore <br> magna aliqua.</h3>
            <h3>dolor sit <br>amet.</h3>
            <h3>aliquip <br>ex ea commodo.</h3>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="section2">
    <img src="cook-2364221_960_720.jpg">
  </section>

  <section id="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2 class="text-center">
            Our dishes are made<br>
            fresh, and can be easily<br>
            customized for you.
          </h2>
        </div>
        <div class="col-md-6 col-sm-12 text-center">
          <p>We can accommodate many<br> dietary needs and have identified<br> which of our dishes can be easily
            modified.</p>
          <i class="fas fa-fire"></i>
          <p>Can be made <strong>VEGAN</strong>.</p>
          <i class="fas fa-fire"></i>
          <p>Can be made <strong>GLUTEN-FREE</strong>. </p>
          <p>Please let us know when ordering what your specific dietary needs are.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="section4">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>MENU</h1>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 col-sm-12 text-center">
          <h2 class="boxes"> BOXES </h2>
          <p> Meal-Combos </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="box">
            <h3>uptate velit </h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </div>

          <div class="box">
            <h3>aboris nisi u </h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </div>

          <div class="box">
            <h3>nderit in vol </h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </div>

          <div class="box">
            <h3>laboris nisi </h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </div>

          <div class="box">
            <h3>Excepteur </h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </div>

          <div class="box">
            <h3> ut aliquip e </h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </div>

        </div>

        <hr class="col-sm-12">
        <div class="col-md-6 col-sm-12 text-center">
          <h2> Side Dishes </h2>
        </div>
        <div class="col-md-6 col-sm-12">
          <h4> Asparagus </h4>
          <h4> Roasted Vegetables </h4>
          <h4> Aaron's Amazing Simple Beans </h4>
          <h4> Spiced Slow Cooker Applesauce </h4>
        </div>
        <hr class="col-sm-12">

        <div class="col-md-6 col-sm-12 text-center">
          <h2> Proteins </h2>
        </div>
        <div class="col-md-6 col-sm-12">
          <h4> Asparagus </h4>
          <h4> Roasted Vegetables </h4>
          <h4> Aaron's Amazing Simple Beans </h4>
          <h4> Spiced Slow Cooker Applesauce </h4>
        </div>
        <hr class="col-sm-12">

        <div class="col-md-6 col-sm-12 text-center">
          <h2> Drinks </h2>
        </div>
        <div class="col-md-6 col-sm-12">
          <h4> Asparagus </h4>
          <h4> Roasted Vegetables </h4>
          <h4> Aaron's Amazing Simple Beans </h4>
          <h4> Spiced Slow Cooker Applesauce </h4>
        </div>
        <hr class="col-sm-12">

        <div class="col-sm-12 text-center download"><a class="download" href="#"> DOWNLABLE MENU &nbsp;<i
              class="fas fa-download"> </i> </a></div>
      </div>
    </div>
  </section>

  <section id="section5">
    <img src="cook-food-kitchen-eat-54455.jpeg">
  </section>

  <section id="section6">
    <div class="container text-center" id="story">
      <h2>Our Story.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco <br>laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure<br> dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.<br> Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h2>Our Philosophy.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco <br>laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure<br> dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.<br> Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <hr class="col-sm-12">
  </section>
  <section id="section7">
    <div id="location">
      <h2 class="text-center">Find Us</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d2726.294455690321!2d-97.27958251816641!3d54.865365617680524!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d0d2601016b5%3A0xb7983575dd339f89!2sScarborough%2C+ON+M1B+1V1!5e1!3m2!1sen!2sca!4v1521784673573"
        frameborder="0" style="border:0" allowfullscreen></iframe>

  </section>

  <section id="section8">

    <div class="container">
      <div class="text-center section8-branding">
        <h1><i class="fas fa-fire "></i></h1>
        <h2>SLICKER'S NOODLES</h2>
      </div>

      <div class="row">
        <div class="col-sm-2 site_map">
          <ul>
            <li>
              <h4>Site Map</h4>
            </li>
            <li><a href="#section4">Menu</a></li>
            <li><a href="#section6">Our Story</a></li>
            <li><a href="#section7">Locations</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-12 location">
          <ul>
            <li>
              <h4>Location</h4>
            </li>
            <p>Upper Level,<br>Holmes Building,<br>404 Error Street, <br>City of Circuit.</p>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 hours">
          <ul>
            <h4>Opening Hours</h4>
            <p>Monday - Friday: <br> 8am-11pm </p>
            <p>Saturday and Sunday:<br> 8am-5pm.</p>
          </ul>
        </div>
        <div class="col-md-2 col-sm-12 contact">
          <h4>Connect With Us</h4>
          <a href=""><img src="facebook-2429746_640.png"></a>
          <a href=""><img class="insta" src="instagram-2935404_1280.png"></a>
          <a href=""><img src="twitter-2430933_1280.png"></a>
        </div>
        <div class="col-sm-3  col-sm-12 subscribe">
          <h4>SIGN UP TO RECEIVE NEWS FROM SLICKER'S NOODLES</h4>
          <p>Complete the form to receive information on the latest events,news and special offers.</p>
          <form method="" class="form-group">
            <label for="email"></label>
            <input id="email" class="form-control pull-left" type="email" name="email" placeholder="E-mail Address">
            <button id="button" class="pull-right"> Subscribe </button>
          </form>
        </div>
      </div>
    </div>
  </section>


  <footer>
    <div class="text-center footer">
      Copyright &copy; Musaddiqur Rahman 2018
    </div>
    <div class="text-center">
      <a href="https://github.com/Mashrur749" target="_blank"><img src="GitHub-Mark.png"></a>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="../public/js/main.js"></script>

</body>

</html>